In [ ]:
Assignment 4th feb

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [59]:
l1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [60]:
print("Original list of tuples:")

Original list of tuples:

In [61]:
print(l1)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [62]:
l1.sort(key = lambda x: x[1])

In [63]:
print("\nSorting the List of Tuples:")

Sorting the List of Tuples:

In [64]:
print(l1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(map(lambda x : x**2, l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [65]:
nums_list = [1,2,3,4,5,6,78,9,10]
nums_tuple =  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
print("Original list and tuple:")
print(nums_list)
print(nums_tuple)
result_list = list(map(str,nums_list))
result_tuple = tuple(map(str,nums_tuple))
print("\nList of strings:")
print(result_list)
print("\nTuple of strings:")
print(result_tuple)

Original list and tuple:
[1, 2, 3, 4, 5, 6, 78, 9, 10]
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

List of strings:
['1', '2', '3', '4', '5', '6', '78', '9', '10']

Tuple of strings:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [32]:
from functools import reduce

In [17]:
l4 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25 ]

In [33]:
product = reduce(lambda x, y: x*y, l4)

In [34]:
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [41]:
 l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [47]:
list(filter(lambda x : x % 2 ==0,l1))

[2, 6, 60, 90, 120, 46]

In [49]:
list(filter(lambda x : x % 3 ==0,l1))

[3, 6, 9, 27, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [53]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [54]:
print("Orginal list of strings:")

Orginal list of strings:

In [55]:
print(l)

['python', 'php', 'aba', 'radar', 'level']

In [56]:
result = list(filter(lambda x: (x == "".join(reversed(x))), l))

In [57]:
print("\nList of palindromes:")

List of palindromes:

In [58]:
print(result)

['php', 'aba', 'radar', 'level']